<body class = "home">
<h1 id = "header"> Hitch </h1>

<div id = "buttons">
	<button > <%= link_to("Hitch", log_in_path) %> </button>
	<button > <%= link_to("Get Hitched", log_in2_path) %> </button>
</div>

</body>