<body class = "home">
<h1 id = "header"> Hitch </h1>

<div id = "buttons">
	<button > <%= link_to("Singles", log_in_path) %> </button>
	<button > <%= link_to("Hitchers", log_in2_path) %> </button>
</div>

</body>

<style media="screen">
body{
	background-image: url("http://i.imgur.com/qQPEjQe.png");
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
