/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.profile-picture{
  width: 200px;
  height: 300px;
  border: black solid 2px;
}
.profile-description{
  width: 200px;
  height: 300px;

}

.profile-girl-response{
  font-size: 20px;
    margin-left: 5%;
}
.profile-girl-name{
  font-size: 25px;
}
.profile-girl-display{
  list-style: none;
  margin-left: 5%;
}
.hitcher-response-form{
  margin-left: 5%;
}
.logout-link{
  width: 150px;
  right: 75%;
}
.welcome-back{

}
