// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
	background-image: url("https://mail.google.com/mail/?ui=2&ik=be9a91ae42&view=fimg&th=150de38c7b3f5946&attid=0.1&disp=inline&realattid=f_igo1jtr40&safe=1&attbid=ANGjdJ8qWdlgTQqEQzyAgRTLlMHYz6qohNcjq8uWviswoOjboM_OedbjWc4g6DMM9PbJ7w_-2wlDh2f1hHqxL-kobtzJmzTqMwMO9TnyGGWxFxGm-bae-Smmka5_tDY&ats=1446837860991&rm=150de38c7b3f5946&zw&sz=w1156-h620");
	background-repeat: no-repeat;
	background-size: cover;
}

#header {
	color: white;
	text-align:center
}

#buttons {
	padding-top: 100px;
	padding-left: 100px;
}